/*************************************************************************
* This is the SKIN style definition for the CSS menu.                    *
* Feel free to customize this section.                                   *
*************************************************************************/

/*
 * Menu container settings
 * Applies to the first level menu container
 */
.viorange {
	font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
	font-size: 11px;
 	font-weight: bold;
}

/*
 * Menu container settings
 * Applies to second (or more) level menu containers
 */
.viorange ul {
	font-weight:normal;
}

/*
 * Menu items settings
 * Applies to all menu items in all menu containers
 */
.viorange li {
	background-image: url(img/greytab_border.gif);
	background-repeat: no-repeat;
	width: 110px;
	margin-right: 2px;
}

/*
 * Menu items settings
 * Applies to second (or more) level menu items
 */
.viorange ul li {
	background-image: none;
	background-color: transparent;
 	width: auto;
	margin: 0px;
}

/* Settings specific to skin VIORANGE only */
/* this applies to the last item of the first level */
.viorange li.last {
	margin-right: 0px;
}

/*
 * Menu link settings
 * Applies to links that are to be found within the menu items, no matter the menu level
 */
.viorange a {
	text-decoration: none;
	color: #585858;
	line-height: 23px;
	padding: 0px 8px 14px 30px;
	cursor: pointer;	
}

/*
 * Menu link settings
 * Applies to links located in the second (or more) level menu items
 */
.viorange ul a {
 	color: #626262;
	line-height: 21px;
	padding: 0px 27px 0px 3px;
}


/***************************************************************************
* In this section, we will define what happens when mouse-overing an item  *
***************************************************************************/

/*
 * Mouse over on menu items
 * Applies to all menu items in all menu containers
 */
.viorange li.hover {
	background-image:url(img/violet_tab.gif) !important;
}
  
/*
 * Mouse over on menu items
 * Applies to second (or more) level menu items
 */
.viorange ul li.hover {
  	background-image: none  !important;
}

/*
 * Mouse over on links
 * Applies to all links in all menu items
 */
.viorange a.hover {
	color: #FFFFFF  !important;
}

/*
 * Mouse over on links
 * Applies to links located in the second (or more) level menu items
 */
.viorange ul a.hover {
  	color: #8D84BD !important;
}


/*****************************************************************************
* In this section, we will define what happens when a menu item is selected  *
*****************************************************************************/

/*
 * Selected menu item
 * Applies to selected menu items in all menu containers
 */
.viorange li.selected {
		background-image: url(img/selected1.gif);
}

/*
 * Selected menu item
 * Applies to second (or more) level selected menu items
 */
.viorange ul li.selected {
		background-image:none;
}

/*
 * Selected links
 * Applies to selected links in all menu items
 */
.viorange a.selected {
}

/*
 * Selected links
 * Applies to selected links located in the second (or more) level menu items
 */
.viorange ul a.selected {
	font-weight: bold;
}


/******************************************************************************
* In this section, we will define the menu arrows behavior                    *
* An arrow is inserted next to the menu item when the menu item has sub-menus *
******************************************************************************/

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus
 */
.viorange .arrow {
	background-image:url(img/orange_arrow_horizontal.gif);
	background-repeat: no-repeat;
	background-position: 50px 25px;
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus on mouse over
 */
.viorange .hover .arrow {
	background-image: url(img/orange_arrow_vertical.gif);
}
/*************************************************************************
* This is the LAYOUT style definition for the CSS menu                   *
* DO NOT alter this section, unless you know what you're doing           *
*************************************************************************/
div.tab {
	clear: both;
}
div.tab br {
	clear: both;
}
div.tab ul {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	clear: both;
}
div.tab li {
	list-style-type: none;
	display: block;
	float: left;
	clear: none;
	text-align: left;
    position: static;
}
div.tab li img {
	border: none;
}
div.tab a {
	clear: both;
	display: block;
	margin: 0px; 
}
div.tab ul li ul {
	position: absolute;
	left: -5000px;
	top: -5000px;
	visibility: hidden;
	clear: both;
	float: left;
}
div.tab ul li ul li ul {
	display: none;
}
div.tab ul li ul li {
	float: left;
	clear: none;
}
.hasImg,
.hasImg a {
	padding: 0px !important;
	margin:	0px	!important;
	border:	none !important;
	outline: none !important;
	background:	transparent !important;
	width: auto !important;
}