/*************************************************************************
* This is the SKIN style definition for the CSS menu.                    *
* Feel free to customize this section.                                   *
*************************************************************************/

/*
 * Menu container settings
 * Applies to the first level menu container
 */
.metal_blue {
	font-family: Tahoma,Arial,Helvetica,Verdana,sans-serif;
	font-size: 11px;
 	font-weight: bold;
}
/*
 * Menu container settings
 * Applies to second (or more) level menu containers
 */
.metal_blue ul {
	font-weight:normal;
}

/*
 * Menu items settings
 * Applies to all menu items in all menu containers
 */
.metal_blue li {
	width:153px;
	background-image: url(img/metal_grey.gif);
	background-repeat: no-repeat;
	margin-bottom: 2px;
}
/*
 * Menu items settings
 * Applies to second (or more) level menu items
 */
.metal_blue ul li {
	background-image:none;
	background-color: #3C5673;
	padding:0px;
	border-bottom: 1px solid #FFFFFF;
	margin: 0px;
}

/*
 * Menu link settings
 * Applies to links that are to be found within the menu items, no matter the menu level
 */
.metal_blue a {
	text-decoration: none;
	color: #585858;
	line-height: 32px;
	padding: 0px 8px 0px 20px;
	cursor: pointer;
}
/*
 * Menu link settings
 * Applies to links that are to be found within the second (or more) level menu items
 */
.metal_blue ul a {
	color: #555555;
	line-height: 22px;
	padding: 0px 8px 0px 20px;
	border-right: none;
	border-left: none;
}



/*
 * Settings specific to the "METAL BLUE" skin only
 *
 */
/* this applies to the last item in the first level */
.metal_blue li.last {
	margin: 0px;
}
/* this applies to the first item of the second (or more) level */
.metal_blue ul li {
	background-image: none;
	background-color: transparent;
}
/* this applies to the last item of the second (or more) level */
.metal_blue ul li.first, 
.metal_blue ul li.last {
	background-image: none;
	background-color: transparent;
}

/***************************************************************************
* In this section, we will define what happens when mouse-overing an item  *
***************************************************************************/

/*
 * Mouse over on menu items
 * Applies to all menu items in all menu containers
 */
.metal_blue li.hover {
}
  
/*
 * Mouse over on menu items
 * Applies to second (or more) level menu items
 */
.metal_blue ul li.hover {
}

/*
 * Mouse over on links
 * Applies to all links in all menu items
 */
.metal_blue a.hover {
	color: #2E5F8E !important;
}

/*
 * Mouse over on links
 * Applies to links located in the second (or more) level menu items
 */
.metal_blue ul a.hover {
  	color: #466581 !important;
}


/*****************************************************************************
* In this section, we will define what happens when a menu item is selected  *
*****************************************************************************/

/*
 * Selected menu item
 * Applies to selected menu items in all menu containers
 */
.metal_blue li.selected {
}

/*
 * Selected menu item
 * Applies to second (or more) level selected menu items
 */
.metal_blue ul li.selected {
}

/*
 * Selected links
 * Applies to selected links in all menu items
 */
.metal_blue a.selected {
	color: #5283B8;
}

/*
 * Selected links
 * Applies to selected links located in the second (or more) level menu items
 */
.metal_blue ul a.selected {
	color: #5283B8;
	font-weight: bold;
}


/******************************************************************************
* In this section, we will define the menu arrows behavior                    *
* An arrow is inserted next to the menu item when the menu item has sub-menus *
******************************************************************************/

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus
 */
.metal_blue .arrow {
	background-image:url(img/horizontal_arrow.gif);
	background-repeat: no-repeat;
	background-position: 7px 14px;
}

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus located in the second (or more) level
 */
.metal_blue .hover ul .arrow,
.metal_blue ul .arrow {
	background-image:url(img/arrow_white.gif);
	background-position:10px 10px;
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus on mouse over
 */
.metal_blue .hover .arrow {
	background-image:url(img/horizontal_arrow.gif);
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus located in the second (or more) level on mouse over
 */
.metal_blue ul .hover .arrow {
	background-image:url(img/horizontal_arrow.gif);
}

/*************************************************************************
* This is the SKIN style definition for the CSS menu.                    *
* Feel free to customize this section.                                   *
*************************************************************************/

/*
 * Menu container settings
 * Applies to the first level menu container
 */
.brick {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
 	font-weight: bold;
}

/*
 * Menu container settings
 * Applies to second (or more) level menu containers
 */
.brick ul {
	font-weight:normal;
}

/*
 * Menu items settings
 * Applies to all menu items in all menu containers
 */
.brick li {
	background-image: url(img/dark_brick_tab.gif);
	background-repeat: no-repeat;
	width: 111px;
	padding-bottom: 2px;
}

/*
 * Menu items settings
 * Applies to second (or more) level menu items
 */
.brick ul li {
	background-image: none;	
	background-color: #BAACAB;
	border-bottom: 1px solid #D7D7D7;
 	width: 181px;
 }

/*
 * Menu link settings
 * Applies to links that are to be found within the menu items, no matter the menu level
 */
.brick a {
	text-decoration: none;
	color: white;
	line-height: 25px;
	padding: 0 0 0 24px;
	cursor: pointer;
}

/*
 * Menu link settings
 * Applies to links located in the second (or more) level menu items
 */
.brick ul a {
 	color:#454545;
 	font-size: 11px;
	line-height:18px;
	padding-left: 28px;
 	letter-spacing: 1px;
}

/***************************************************************************
* In this section, we will define what happens when mouse-overing an item  *
***************************************************************************/

/*
 * Mouse over on menu items
 * Applies to all menu items in all menu containers
 */
.brick li.hover {
	background-image:url(img/light_brick_tab.gif);
	background-repeat:no-repeat;
}
  
/*
 * Mouse over on menu items
 * Applies to second (or more) level menu items
 */
.brick ul li.hover {
  	background-image:url(img/gradient_brick.gif);
	background-color: #CD8989;
	background-repeat:repeat-x;
}

/*
 * Mouse over on links
 * Applies to all links in all menu items
 */
.brick a.hover {
	color:#000000;
}

/*
 * Mouse over on links
 * Applies to links located in the second (or more) level menu items
 */
.brick ul a.hover {
  	color: #FFFFFF !important;
}


/*****************************************************************************
* In this section, we will define what happens when a menu item is selected  *
*****************************************************************************/

/*
 * Selected menu item
 * Applies to selected menu items in all menu containers
 */
.brick li.selected {
}

/*
 * Selected menu item
 * Applies to second (or more) level selected menu items
 */
.brick ul li.selected {
}

/*
 * Selected links
 * Applies to selected links in all menu items
 */
.brick a.selected {
}

/*
 * Selected links
 * Applies to selected links located in the second (or more) level menu items
 */
.brick ul a.selected {
	color: #555555;
}


/******************************************************************************
* In this section, we will define the menu arrows behavior                    *
* An arrow is inserted next to the menu item when the menu item has sub-menus *
******************************************************************************/

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus
 */
.brick .arrow {
	background-image: url(img/arrow_white_hrizontall2.gif);
	background-repeat: no-repeat;
	background-position: 12px center;
}

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus located in the second (or more) level
 */
.brick .hover ul .arrow,
.brick ul .arrow {
	background-image:url(img/arrow_dark_hrizontall2.gif);
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus on mouse over
 */
.brick .hover .arrow {
	background-image:url(img/arrow_dark_hrizontall2.gif) !important;
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus located in the second (or more) level on mouse over
 */
.brick ul .hover .arrow {
	background-image:url(img/arrow_white_hrizontall2.gif) !important;
}
/*************************************************************************
* This is the LAYOUT style definition for the CSS menu                   *
* DO NOT alter this section, unless you know what you're doing           *
*************************************************************************/
div.expandable {
	clear: both;
}
div.expandable br {
	clear: both;
}
div.expandable ul {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	clear: both;
}
div.expandable li {
	list-style-type: none;
	display: block;
	float: left;
	clear: both;
	text-align: left;
    position: relative;
}
div.expandable li img {
	border: none;
}
div.expandable a {
	clear: both;
	float: none;
	display: block;
	margin: 0px;
}
div.expandable ul li ul {
	position: static;
	visibility: visible;
	display: block;
	clear: both;
	margin: 0px;
	margin-top: -5000px;
}
div.expandable ul li ul li ul {
	display: none;
}
div.expandable ul li ul li {
	clear: both;

}
div.expandable ul li ul li a {
	clear: both;
}
.hasImg,
.hasImg a {
	padding: 0px !important;
	margin:	0px	!important;
	border:	none !important;
	outline: none !important;
	background:	transparent !important;
	width: auto !important;
}